body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

#chessboard {
    --light-tile: #f1de9d;
    --dark-tile: #614725;
    border-collapse: collapse;
    --tile-size: min(10vh, 10vw, 5em);

    td {
        width: var(--tile-size);
        height: var(--tile-size);
        background-color: var(--dark-tile);
        aspect-ratio: 1;
    }

    tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
        background-color: var(--light-tile);
    }
}